name: "Build and Deploy"

on:
  workflow_dispatch:
    inputs:
      environment_name:
        description: 'enter the environment'
        type: choice
        options:
          - dev
          - qa
          - stage
          - prod
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment_name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build using Gradle
        uses: ./.github/actions/gradle-build
        with:
          profile_name: ${{ vars.PROFILE }}